/* BOTONES */
.botonHeader {
    background-color: #08a008;
    color: white;
    border: none;
    padding: .6em 1.2em;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: .3rem;
    display: flex;
    align-items: center;
    gap: .5rem;
    text-decoration: none;
}

.botonHeader:hover {
    background-color: red;
}

/* Icono */
.icono {
    font-size: 1.2rem;
}

/* Variante especial para Log out */
.logout {
    background-color: #c0392b;
    /* rojo institucional */
    color: #fff;
}

.logout:hover {
    background-color: #d08905;
}

.activo {
    background-color: yellow !important;
    color: black !important;
    transition: 0.3s ease;
}