.botonEliminar {
    background-color: #e74c3c !important;
    color: white !important;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 0.95rem;
    border-radius: .6rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    transition: background-color 0.3s ease;
}

.botonEliminar:hover {
    background-color: #c0392b !important;
}

table {
    border: 2px solid #ccc;
}