/* ESTILO GENERAL DE GALLERY */
.gallery {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
    max-width: 100vw;
    /* Evita desbordes horizontales */
    background-color: white;
    color: black;
    padding: 0.1vh 0.1vw;
    box-sizing: border-box;
    height: 12rem;
    flex-wrap: wrap;
    /* Permite que se acomode en pantallas pequeñas */
    overflow-x: hidden;
    /* Previene scroll horizontal */
}