.galleryCarousel {
    max-width: 100vw;
    margin-top: 2rem;
}

.galleryImage {
    max-height: 400px;
    object-fit: cover;
    border-radius: 8px;
}

.galleryCaption {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0.5rem;
    border-radius: 4px;
}