/* HEADER GENERAL */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* Centra verticalmente todos los hijos */
    width: 100%;
    background-color: #0423b1;
    padding: 0.5rem 1rem;
    box-sizing: border-box;
    min-height: 10rem;
    flex-wrap: wrap;
    overflow-x: hidden;
}

/* SECCIONES */
.headerLeft,
.headerCenter,
.headerRight {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* IZQUIERDA Y DERECHA */
.headerLeft,
.headerRight {
    display: inline-block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 0 0 auto;
}

.botonesDerecha {
    display: flex;
    justify-content: space-between;
    width: inherit;
    margin-top: 1rem;
}

/* CENTRO */
.headerCenter {
    flex: 1 1 auto;
    flex-direction: column;
    text-align: center;
    margin: 0.5rem 0;
}

/* Sección inferior: Nav */
.headerNav {
    width: 100%;
    box-sizing: border-box;
}

/* TÍTULO */
.tituloHeader {
    font-size: 3rem;
    font-weight: bold;
    color: white;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
}

/* LOGOS */
.logo {
    position: relative;
    display: inline-block;
    height: auto;
    max-height: 10rem;
    width: auto;
    margin: 0.2rem;
    cursor: pointer;

}

/* LOGO IZQUIERDO */
.logoAuto {
    background-color: white;
    width: 30%;
    height: 30%;
    object-fit: contain;
    border-radius: 50%;
    max-height: 100%;
}

/* LOGO DERECHO */
.logoDerecho {
    background-color: white;
    height: 3.5rem;
    max-height: 5rem;
    padding: 0.1rem;
    border-radius: 0.3rem;
    display: block;
}

/* RESPONSIVO */
@media (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: center;
    }

    .tituloHeader {
        font-size: 1.5rem;
    }
}