.sitio-construccion {
    text-align: center;
    padding: 2rem;
    background-color: #f9f9f9;
    border: 2px dashed #ccc;
    border-radius: 8px;
}

.imagen-construccion {
    max-width: 350px;
    margin-bottom: 1rem;
    border-radius: 2rem;
}