header,
footer {
  padding: 1rem 2rem;
  background-color: #1a1a1a;
  color: white;
}

main {
  padding: 2rem;
  max-width: 960px;
  margin: 0 auto;
  /* centra el contenido */
}

p {
  margin-bottom: 1rem;
  text-align: justify;
}